/*
    Page and Section Headers
*/
.pageHeader {
    padding: 10px 0 10px 0;
    background-color: #e9e9e9;
    text-align: center;
}

/*
    Sections
*/
.sectionHeader {
    text-align: center;
}

.sectionContainer {
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    border-radius: 4px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
    background-color: #e9e9e9;
}

@media (min-width: 576px) {
    .sectionContainer {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        max-width: 720px;
    }
}

@media (min-width: 992px)
{
    .sectionContainer {
        max-width: 960px;
    }
}

/*
    Section Totals
*/
.categoryTotalRow {
    border-bottom: 0 !important;
}

.categoryFinalTotalRow {
    border-top: 1px solid black;
}

.categoryTotal, .netWorthContainer tr td:last-child {
    text-align: end;
}

/*
    Net Worth Section
*/
.netWorthContainer table {
    margin: auto;
}

.netWorthContainer table tr:last-child {
    border-top: 1px solid black;
}

.netWorthContainer table td {
    padding: 5px;
}

.netWorthContainer table td.label {
    text-align: end;
}