.tableContainer {

}

.tableContainer table {
    width: 100%;
}

.tableContainer thead {
    border-bottom: 1px solid black;
}

.tableContainer thead {
    color: #0093ff;
}

.tableContainer th {
    padding-left: 5px;
}

.tableContainer .groupRow {
    background-color: #9ed3f9 /*#cbcbcb*/;
    font-weight: bold;
}

.tableContainer td.categoryTotalLabel {
    text-align: end;
    font-weight: bold;
}

.tableContainer tr.categoryFinalTotalRow {
    border-bottom: 0;
}

.tableContainer tbody tr {
    border-bottom: 1px solid black;
    padding: 5px 0 5px 0;
}

.tableContainer td {
    padding: 5px;
}

.tableContainer .categoryRow input {
    width: 100%;
}

.tableContainer .categoryInput {
    display: flex;
}

th.inputColumn {
    width: 35%;
    min-width: 150px;
}

.newCategory div, .newGroup div {
    display: flex;
    width: 100%;
}

.newCategory input, .newGroup input {
    width: 100%;
    margin-right: 10px;
}

.newCategory button, .newGroup button {
    min-width: 120px;
}


.displayInputValue {
    width: 100%;
    text-align: end;
    margin-right: 10px;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
}

.groupRow button {
    float: right;
}